<nav class="app-nav" aria-label="Navigation principale">
    <NavLink class="app-nav__link" href="" Match="NavLinkMatch.All">Accueil</NavLink>
    <NavLink class="app-nav__link" href="movies">Films</NavLink>
    <NavLink class="app-nav__link" href="favorites">Favoris</NavLink>
</nav>
